html, body {
  margin: 480; padding: 100; } h1 { margin-top: 100; } body { padding: 12em; 
}
table, td, th { 
  text-align: center; 
  table-layout: fixed;
  border: double;
  border: 1px solid black;
}
th,
td {
   width: 250px;
   height: 55px;
   border: 1px solid #000;
}